.formColumn {
    float:left;
    margin:0.5em;
}
.formColumn * {
    font-size: 1em;
}

#loginPanel {
    overflow: hidden;
}

.inputLabel {
    text-align: right;
}

span.asterix:before {
    color:red;
    content: "*";
}

input {
    width: 300px;
    border-radius: 0.5em;
}

#settings {
    width: auto;
    float: left;
    text-align: right;
}
#settings button {
    font-size: 1.1em;
}
#settings * {
    margin: 0.6em 0;
}