html {
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande", sans-serif;
    background: #26c6da; /* cyan Background: #26c6da */
    height: 92%;  /* For some reason can't put at 99'*/
    color: rgba(0,0,0, 0.87);
}

/* TODO: Decide if a scroll bar is wanted to dislay.*/
html::-webkit-scrollbar-track-piece {
    background-color: transparent;
}
html::-webkit-scrollbar {
    width: 3pt;
}
html::-webkit-scrollbar-thumb {
    border-radius: 10pt;
    background-color: #536dfe;
    opacity: 0.0;
}
html::-webkit-scrollbar-thumb:hover {
    background-color: #3d5afe;
}

body {
    width: 85%;
    min-height: 92%;
    position:relative;
    margin: 0 auto;
    margin-top: 8%;
    padding-bottom: 2%;
}

.header {
    position: absolute;
    margin-top: -1.3em;
    margin-bottom: 1em;
    padding-left: 0;

    /*width: 100%;*/
    font-size: 1.5em;
    font-family: 'Lobster';
    z-index: -1;
}
.header li { 
    display: inline-block;
    list-style-type: none;
    padding-top: 0.1em;
    padding-left: 0.15em;
    padding-right: 0.15em;
    padding-bottom: 20px;

    transform: translate(0,-2px);
    -webkit-transform: translate(0,-2px);  /* Chrome, Safari, Opera */
    -ms-transform: translate(0, -2px);

    background-color: #ff3d00;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}
.header > li:hover {
    box-shadow: 0 0 0.7em #777;
    transform: translate(0,-4px);
    -webkit-transform: translate(0,-4px); /* Chrome, Safari, Opera */
    -ms-transform: translate(0, -4px);
}
.header * {
    color: snow;
    text-decoration: none;
}
#mainName {
    margin-top: -0.7em;
    font-size: 2em;
    vertical-align: top;
}

#container {
    height: 98%;
    overflow-x: hidden;
    margin: auto;
    padding: 1em;
    padding-bottom: 0;

    background-color: white;
    border-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;

    box-shadow: 0 0em 1.5em rgba(0,0,0,0.4);
}

#motd {
    quotes: "“" "”";

    font-size: 0.9em;
    color: grey;
    max-width: 50%;
}

.noPadding {
    padding: 0;
}

.footer {
    color: rgba(240, 240, 240, 0.8) !important;
    position:absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 7px;
}

a {
    color: #1976D2;
}

.error {
    color: red;
}

.spinner {
    color: #1976D2;
    padding: 4px;
}

/**** Submit Post Div ****/

.submitPostDiv {
    width: 70%;
}
.submitReply {
    font-size: 1.1em !important;
    width: auto;
    z-index: 1;
    position: absolute;
    box-shadow: 0 0 2em #42A5F5;
    background-color: rgba(66, 165, 245, 0.45);
    border-radius: 0.5em;
}
.submitReply textarea {
    max-width: 100%;
    font-size: 1em !important;
}
.submitPostDiv textArea {
    height: 3.5em;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    transition: height 0.5s;

    font-size:15px;
    width: 100%;
    max-width: 135%;
    box-sizing: border-box;
    border-radius: .6em;
}
.submitPostDiv #submitForm {
    font-size: 1em;
}
.submitPostDiv #postButton {
    font-size: .8em;
}

/**** Posts and Comments ****/

blockquote {
    border-left: .2em solid green;
    margin: 1em;
    padding: 0.3em; /* height of bar */
}

#groupContainer {
    margin-left: 1em;
}

.post {    
    /* -webkit-overflow-scrolling: touch; /*Enable for smoothness*/
    max-height: 300px;
    overflow: scroll;
    overflow-x: hidden;
    resize: vertical;
    padding: .05em;
    margin: 0.75em 0;
    /*border: 1pt solid #aaa;*/
    border-radius: .2em;

    box-shadow: 0 0.2em 1em #aaa;
    box-shadow:0 1px 5px #555;
}
.post p {
    margin: auto;
}
.post:nth-of-type(even) { 
    background-color: rgba(230, 230, 230, 0.6);
    background-color: rgba(255, 255, 255, 0.9);


}
.post:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.9);
}
.post .expander {
    font-size: .8em;
    position: absolute;
    text-decoration: none;
    margin-left: -1.7em;
}
.post .commentTree {
    max-height: 300px;
}

.post > .comment {  /* Ensures that first comment starts far left. */
    margin-left: 0;
    border: none;
}

.comment {
    border-left: 1px dotted #aaa;
    border-top: 1px dotted #aaa;
    border-top-left-radius: .4em;
    margin: 0;
    padding-left: .2em;
    margin-left: 1.5em;
}
.comment .commentText {
    margin: .2em 0;
}
.comment p {
    margin-bottom: 0.6em;
}
.comment .statuses, .comment .statuses li {
    font-size: 0.9em;
    color: #555;
    padding-left: 0;
    display: inline;
    list-style-type: none;
    vertical-align:text-top; 
}
.commentText ul, .commentText ol {
    margin: 0.1em;
}
.comment .action * {
    font-size: 0.85em;
    text-decoration: none;
    color: #4A6A8A;
}
.comment img {
    max-width: 100%;
    max-height: 50px;
    -webkit-transform: translateZ(0); /*This may or may not improve mobile perforamnce.*/
    -webkit-transition: max-height 0.3s; /* For Safari 3.1 to 6.0 */
    transition: max-height 0.3s;
}
.comment img:hover {
    max-height: 260px;
}

/* Comment Tree Scroll */
.post::-webkit-scrollbar-track-piece {
    background-color: transparent;
}
.post::-webkit-scrollbar {
    width: 3pt;
}
.post::-webkit-scrollbar-thumb {
    border-radius: 10pt;
    background-color: #aaa;
}
.post::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}
.post::-webkit-resizer {
    display: none;
}
/* End Comment Tree */

.vote {
    margin-top: -0.2em;
    margin-right: 0.15em;
}

.vote * {
    line-height: 25% !important;
}

.vote.unvoted i {
    color: #777;
}

.vote.upped .uparrow{
    color: #d00;
}

.vote.upped .downarrow {
    color: #777;
}

.vote.downed .uparrow {
    color: #777;
}

.vote.downed .downarrow {
    color: #00d;
}

.score {
    font-size: 0.6em;
    color: #777;
    text-align: center;
    vertical-align: middle;
    line-height: 10%;
}

/* Home Page */
#mainHeading {
    margin: 0.25em;
    font-size: 2em;
    font-family: 'Open Sans';
}

#headingCaption {
    font-size: 1.5em;
    font-family: 'Open Sans Condensed', sans-serif;
}

#mainImage {
    width: 50%;
    vertical-align: middle;
}

/**** Media Queries ****/

@media (max-width:650px) {
    body {
        width: 98%;
        margin: auto;
    }

    .header {
        width: 100%;

        position: relative;
        display: inline;
        margin-bottom: 0;
    }
    .header li {
        width: 99%;
        margin: auto;

        display: block;
        padding-bottom: 0;
        text-align: center;

        border-radius: 5em;
        border: solid #000;
        border-width: 1px 0;
    }

    #mainName {
        font-size: 1.15em;
        margin: auto;

        left: 0;
        /*position: fixed;*/
    }
}

@media (max-width:1050px) {
    body {
        width: 95%;
    }
}
